@font-face {
    font-family: "DSEG7-Modern";
    src: 
        url("./assets/DSEG7-Modern/DSEG7Modern-Regular.woff2") format("woff2"),
        url("./assets/DSEG7-Modern/DSEG7Modern-Regular.woff") format("woff"),
        url("./assets/DSEG7-Modern/DSEG7Modern-Regular.ttf") format('truetype');

}

.input-output {
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}

.output-right {
    transform: rotate(180deg);
}

.label {
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.help-box {
    display: flex;
    gap: 10px;
    align-items: center;
}